- unless hacks.empty?
  - hacks.each_slice(4) do |slice|
    %ul.project-list
      - slice.each do |hack|
        %li.project
          .project-card
            .project-thumbnail
              %a{:href => hack.source}
                = image_tag('Octocat.png', :height => 150, :width => 200, :class => 'projectphoto-little')

            %h2.bbcard_name
              %strong
                %a{:href => hack.source}
                  = hack.name
              %span
                by:
                - hack.users.each_with_index do |user, index|
                  = link_to user.name, user.github_url
                  - if index != hack.users.length - 1
                    ,

            %p.bbcard_blurb
              = hack.description
              
- else
  %p Nothing has been uploaded yet.  Get hacking!