.transparent-region
  %h1 Listing groups
  - if user_is_admin?
    = link_to 'New Group', new_group_path, :class => 'btn btn-teal pull-right'
  %ul
    - @groups.each do |group|
      %li= group.name

  %br
