.transparent-region
  %h1= @group.name
  %p= @group.description
  =link_to "View on Facebook", @group.facebook_path unless @group.facebook_path.empty?

  %br
  %br
  = link_to 'Edit', edit_group_path(@group), :class => 'btn btn-danger' if user_is_admin?
  = link_to 'All Groups', groups_path, :class=> 'btn btn-teal'