
%h4 Skills

%ul
  -@user.skills.reject(&:new_record?).each do |skill|
    %li=skill.name

%h5 Add a new skill
= simple_form_for([@user, @new_skill]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

  .form-actions
    = f.button :submit
