#user-wrapper
	%h1 ACM Members
	%ul.ch-grid
		- @users.each do |user|
			%li
				.ch-item
					.ch-info
						-#%a{:href=>"users/"+user.id.to_s}
						-#=image_tag(image_src)
						%h3= user.display_name
						%p
							Joined #{user.created_at.to_date}
							=link_to "View on GitHub", user.github_url
					.ch-thumb{:style=>"background-image: url(#{user.gravatar_url})"}