#user-wrapper.transparent-region
  %h1 ACM Members
  =form_tag(:controller => "users", :action => "search") do
    .skill-filters
      -if @skills
        -@skills.each do |skill|
          %span.label.label-info.skill-filter
            %span= skill
            %span.close &times;
            = hidden_field_tag "skill[]", skill
    =select_tag "skill[]", options_for_select( Skill.remainingFilters(@skills), @skill)
  - @users.each do |user|
    =link_to user, :class=>"user-outer" do
      .user
        .user-before
          -if user.title
            .ribbon-wrapper-green
              .ribbon-green= user.title
        =image_tag user.gravatar_url, :class => 'gravatar'
        .skills
          =render 'users/user_block', :user => user
        .bottom
          %h3= user.display_name