#user-wrapper
  %h1 ACM Members
  - @users.each do |user|
    =link_to user do
      .user
        -if user.title
          .ribbon-wrapper-green
            .ribbon-green= user.title
        .top
          =image_tag user.gravatar_url, :class => 'gravatar'
          .skills
            -user.randomSkills(4).each do |skillImg|
              =image_tag 'skill_icons/'+skillImg, :class => 'skill'
        .bottom
          %h3= user.display_name