#home-wrapper
  %h2.intro Resources For Students
  .event
    %a{:href => "#OpenCourseWare"}
      .eventimage{:style => "background-image: url(#{image_path('temp.jpg')});"}
      .eventtitle
        %h1 OpenCourse
        %p Foundations to Mizzou CS Lectures
  .event
    %a{:href => "#CResources"}
      .eventimage{:style => "background-image: url(#{image_path('resources.jpg')});"}
      .eventtitle
        %h1 Programming Resources
        %p Resources for Various Topics
  .event
    %a{:href => "#OpenCourseWare"}
      .eventimage{:style => "background-image: url(#{image_path('networking1.jpg')});"}
      .eventtitle
        %h1 Career and Networking
        %p Resume tips, Interview help