%link{:href=>"http://fonts.googleapis.com/css?family=Anton", :rel=>'stylesheet'}
.container
  .row-fluid
    .span6
      .transparent-region
        %h3 Association for Computer Machinery
        %p If you're up for learning how to grapple with the latest tech, we encourage you to join us. Employers will be impressed, you'll be the hacking master everyone looks up to, and you'll make really cool stuff. What's not to like?
        %p Have a cool technology or project you'd like to share? Drop us a line.
      .transparent-region
        %h2 Get Involved
        %p
          Anyone can join ACM regardless of skill level.  We typically have 1-2 meetings per month, as well as other activities.  For more information on upcoming events, check out our
          =link_to('events page', events_path)+"."
    .span4
      -@posts.each do |post|
        .post
          =link_to post do
            .transparent-region
              %h3=post.title
              %p!=post.markdown_summary
              Read More

//If you're up for learning how to grapple with the latest tech, we encourage you to join us.
//Employers will be impressed, you'll be the hacking master everyone looks up to, and you'll make really cool stuff.  What's not to like?
//%p Have a cool technology or project you'd like to share?  Drop us a line.
//- @feed.each do |activity|
//=render_activity(activity)