%link{:href=>"http://fonts.googleapis.com/css?family=Anton", :rel=>'stylesheet'}
.container
  .row-fluid
    .span6
      .transparent-region
        %h3 Association for Computer Machinery
        %p If you're up for learning how to grapple with the latest tech, we encourage you to join us. Employers will be impressed, you'll be the hacking master everyone looks up to, and you'll make really cool stuff. What's not to like?
        %p Have a cool technology or project you'd like to share? Drop us a line.
      .transparent-region
        %h2 Get Involved
        %p
          Anyone can join ACM regardless of skill level.  We typically have 1-2 meetings per month, as well as other activities.  For more information on upcoming events, check out our
          =link_to('events page', events_path)
          and the
          =link_to('Facebook group', "https://www.facebook.com/groups/MizzouACM/")+"."
    .span4
      .transparent-region
        %h3 Officers
        %h5
          Dan Silver, President
        %h5
          Ben Sammons, Vice President
        %h5
          Gabrielle Perdieu, Secretary
        %h5
          Megan Ritchey, Treasurer
        %h5
          Cj Voege, Social Chair
        %p If you have any questions about ACM, please contact Dan at das2c3@mail.missouri.edu

//If you're up for learning how to grapple with the latest tech, we encourage you to join us.
//Employers will be impressed, you'll be the hacking master everyone looks up to, and you'll make really cool stuff.  What's not to like?
//%p Have a cool technology or project you'd like to share?  Drop us a line.
//- @feed.each do |activity|
//=render_activity(activity)