.hero-unit
  %h1 Come learn with us!
  %p ACM Mizzou is on a mission to make Mizzou hackers awesome!
  %p 
    If you're up for learning how to grapple with the latest tech, we encourage you to join us.
    Employers will be impressed, you'll be the hacking master everyone looks up to, and you'll make really cool stuff.  What's not to like?
%p Have a cool technology or project you'd like to share?  Drop us a line.
- @feed.each do |activity|
  =render_activity(activity)