%h1.title Projects
#projects
  - @projects.each do |project|
    .project
      = link_to project do
        = image_tag project.photo.url(:thumb)
        .textFrame
          = project.title + ' by ' + project.user.name
%br

= link_to 'New Project', new_project_path
