
.row
  -if @project.photo_file_size
    .span8
      =image_tag @project.photo.url(:large), :id =>"project_img", :class => "transparent-region"
  .span4
    .transparent-region
      %h3=@project.title
      - if user_is_admin? or current_user == @project.user
        = link_to edit_project_path(@project), :class => 'btn btn-teal', :id => "edit-btn" do
          %i.icon-pencil.icon-white
          Edit Project
      %strong
        ="Posted by "
        =link_to @project.user.name, @project.user
      .links
        = link_to 'View Demo', @project.demo_link if @project.demo_link?
        = link_to 'Source Code', @project.source_link if @project.source_link?
      -if @project.description?
        %hr
        != @project.rendered_description
      - if user_is_admin? or current_user == @project.user
        =link_to @project, :confirm => 'Are you sure?', :method => :delete, :class=>'btn btn-danger btn-small' do
          %i.icon-trash.icon-white
          Delete Project