
.row
  -if @project.photo_file_size
    .span8
      =image_tag @project.photo.url(:large), :id =>"project_img", :class => "transparent-region"
  .span4
    .transparent-region
      %h3=@project.title
      - if user_is_admin? or current_user == @project.user
        = link_to edit_project_path(@project), :id => "edit-btn" do
          =icon_btn "Edit Project", "pencil"
      %strong
        ="Posted by "
        =link_to @project.user.name, @project.user
      .links
        = link_to 'View Demo', @project.demo_link if @project.demo_link?
        = link_to 'Source Code', @project.source_link if @project.source_link?
      -if @project.description?
        %hr
        != @project.rendered_description
      - if user_is_admin? or current_user == @project.user
        =link_to @project, :confirm => 'Are you sure?', :method => :delete do
          =icon_btn "Delete Project", "trash", "danger", :class => 'btn-mini'