- if user_is_admin? or current_user == @project.user
  = link_to 'Edit Project', edit_project_path(@project), :class => 'btn btn-large pull-right'
%h1=@project.title

.row
  .span8
    =image_tag @project.photo.url(:large)
  .span4
    .well
      %strong
        ="Posted by "
        =link_to @project.user.name, @project.user
      .links
        -if @project.link?
          = link_to 'Demo', @project.link
        -if @project.link?
          = link_to 'Source Code', @project.link
      -if @project.description?
        %hr
        = @project.description