/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}



body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td 
{
  margin: 0;
  padding: 0;
}
div {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.15s;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .7px;
}

body{
  margin: 0px;
  background-color: #fff;
  font-size: 18px;
  line-height: 25px;
  background: image_url('diamond-pattern.png') center;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
{
  margin:0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#top-header {
  width: 100%;
  height: 32px;
  background-color: rgba(0,0,0,0.6);
}

#headercenter {
  width: 74.5%;
  margin-left: auto;
  margin-right: auto;
}

.link
{
  cursor: pointer; 
}



.nav {
  font-size: 18px;
  color: #fff;
  letter-spacing: 0px;
  height: 100%;
  text-transform: lowercase;
  padding: 0px 10px 0px 10px;
  font-family: Anaheim;
  line-height: 32px;
  float: left;
  font-weight: bold;
  -webkit-transition: background .15s linear;
  border-radius: 2px;
  text-align: center;
  text-shadow: 1px 1px 2px #111;
}

#gloss {
  width: 100%;
  height: 472px;
  background-size: cover;
  background: image_url('homepage.jpg') center top repeat-x;
  border-bottom: 1px solid #000;
}

#logo {
  text-align: center;
  font-family: Code-Pro-Demo;
  font-size: 70px;
  color: #000;
}

#gloss #menu {
  margin-top: 2px;
  height: 50px;
  background-color: rgba(0,0,0,0.6);
  border-bottom: 2px solid #333;

}

#menu
{
  font-family: Code-Pro-Demo;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
}

#menu li > a {
  display: inline-block;
  color: #fff;
  padding: 16px 20px;
}

#menu li.current > a {
  display: inline-block;
  padding: 16px 20px;
  color: #FFD700;
}

ul#menu {
  list-style-type:none;
  margin:0;
  padding:0;
}

ul#menu > li {
  display: inline;
}

#menu a:hover
{
  color: #FFD700;
}
