// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gold: #FFD700;

#event-wrapper {
  margin-bottom: 50px;
  width: 820px;
  margin: 0 auto;


  a:hover {
    color: $gold;
  }

  .box{
    margin: -10px 0px -10px -10px;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    box-shadow: 1px 1px 3px #aaa;
  }

  .event-title:hover {
    color: #FFD700;
    cursor: pointer;
  }

  p {
    margin: 8px 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.7px;
    display: block;
    font-size: 18px;
  }

  .event-title {
    font-weight: bold;
    font-size: 22px;
  }

  .upcoming-events{
    padding-right: 195 px;
    margin-bottom: 20px;
    min-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 10px solid #333;
  }

  .past-events {
    opacity: 0.9;
  }

  .small {
    font-size: 14px;
  }

}