// Place all the styles related to the hacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hack-wrapper {

  h2.intro {
    text-align: center;
    color: #666;
    margin: 40px 0 15px 10px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }

  #wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }

  ul.project-list {
    width: 960px;
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li.project {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 214px;
    display: inline;
    float: left;
    margin: 0 20px 20px 0;
    padding: 0;
  }

  .project-card {
    padding: 5px;
    background-position: 0 307px;
    height: 360px;
    overflow: hidden;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d0d5cb;
    position: relative;
    background-color: #fff;
    background-repeat: repeat-x;
  }

  h2.bbcard_name {
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 0 5px;
    margin-bottom: 5px;
  }

  h2.bbcard_name strong {
    display: block;
    max-height: 30px;
    padding-top: 5px;
    overflow: hidden;
    font-weight: bold;
    font-family: inherit;
    font-size: 16px;
  }

  h2.bbcard_name span {
    display: block;
    font-size: 12px;
    max-height: 15px;
    overflow: hidden;
    color: #75796f;
    font-weight: normal;
    padding-top: 2px;
  }

  p.bbcard_blurb {
    color: #75796f;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 15px;
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}