// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#masonry {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#masonry h2.intro {
  text-align: center;
  color: #666;
  margin: 40px 0 15px 10px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#masonry .event {
  width: 300px;
}

.eventimage:hover{
  opacity: 1;
}
.event
{
  width: 300px;
  height: 180px;
  float: left;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px #aaa;
  -webkit-box-shadow: 1px 1px 3px #aaa;
  cursor: auto;
}
.eventimage {
  width: 300px;
  height: 180px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto auto;
  background: #fff center center no-repeat;
  opacity: 0.93;
}

.eventtitle
{
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 300px;
  background: rgba(0,0,0,0.3);
  padding: 10px 0;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  color: #fff;
}

.eventtitle h1 {
  font-size: 24px;
}

.eventtitle p {
  color: #fff;
  text-align: center;
  margin: 0;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  line-height: 1.2em;
}
.blue {
  text-shadow: 0px 1px 0px #999;
}

.blue, a:hover {
  color: #FFD700;
}
