.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{:"data-toggle"=>"collapse", :"data-target"=>".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .brand{:href=>"#Project name"}
      .nav-collapse.collapse
        %ul.nav
          =nav_link 'Home', root_path
          =nav_link 'Projects', '/projects'
          =nav_link 'Events', events_path
          =nav_link 'People', '/users'
          =nav_link 'Facebook', 'https://www.facebook.com/groups/MizzouACM/?fref=ts'
          =nav_link 'Join ACM', 'https://orgsync.com/47160/chapter'
        .pull-right
          %ul.nav
            - if user_signed_in?
              %li
                %a="Logged in as #{current_user.name}"
              %li= link_to 'Logout', signout_path
            - else
              = link_to 'Sign in with GitHub', signin_path, :class=>"btn btn-small btn-success"
